#videoContainer {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}

.miniplayerIcon {
    width:"560"; 
    height:"315";
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #817979;
    font-size: 24px;
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.scrollIcon {
    width: 24px;
    height: 24px;
    position:absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #817979;
    font-size: 24px;
    z-index: 2;
}

.scrollLeftIcon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #817979;
    font-size: 24px;
    z-index: 2;
}

 /* Responsive styles */
 @media (max-width: 768px) {
    .video-column {
        width: 100%; /* Full width on mobile */
        margin-right: 0; /* No margin on mobile */
    }

    .video-column iframe {
        height: 200px; /* Adjusted height for mobile */
    }
}

iframe.miniplayer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 560px !important; /* Adjusted width */
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 3;
    margin-top: 10px;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #817979;
    font-size: 24px;
    display: none; /* Hide close icon by default */
    z-index: 2;
}



.video-row {
    position: relative; /* Ensure relative positioning */
    height: 350px; /* Set a fixed height for each row */
    white-space: nowrap; /* Prevent wrapping of video columns */
    margin-top: 360px; /* Adjusted margin to move below live video */
    margin-bottom: 10px; /* Reduced bottom margin */
}

.video-column {
    width: calc(100% / 3 - 20px); /* Adjusted width to occupy one-third of the container's width */
    display: inline-block; /* Display video columns inline */
    margin-right: 0; /* Remove margin between video columns */
    margin-bottom: 20px; /* Adjusted bottom margin */
    position: relative;
    vertical-align: top; /* Align video columns to the top */
    
}

.video-column iframe {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}
@media (max-width: 768px) {
    #videoContainer {
        max-width: 90%;
    }
}



.video-title {
    color: rgb(214, 26, 26); /* Set text color to white */
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Hide any overflowing content */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
}
.channel-name,
.metadata {
    color: white; /* Set text color to white */
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 5px; /* Add some bottom margin for spacing */
}

.miniplayer-description {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 560px !important; /* Adjusted width */
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 3;
    margin-top: 10px;
}

.miniplayer-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 560px;
    z-index: 3;
}

.miniplayer-container iframe {
    width: 100% !important;
    height: 180px;
}

.miniplayer-container .video-description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 10px);
}

.logo-settings-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    right: 40px; /* Adjust the position as needed */
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 1;
}

#liveVideoContainer {
    position: absolute;
    width: 100%;
    z-index: 9999; /* Set a high z-index to ensure it appears above other content */
}

#videoFrame {
    width: 100%;
    height: 315px;
    margin-top: 10px;
    border-radius: 10px;
}
